@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h3 {
  color: #f05454;
}

section {
  padding: 6em 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0.5em 1.25em;
  border: 1px solid white;
  border-radius: 42px;
  transition: transform 250ms ease ease-in-out;
}

.split {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    flex-basis: 30%;
    min-width: 15em;
  }
}

.spacing > * + * {
  margin-top: var(--spacer, 1.5rem);
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  background: white;
  color: black;
}

.hero-title {
  font-size: 4rem;
  line-height: 1.1;
}

.title {
  font-size: 3rem;
  text-align: center;
  line-height: 1;
  margin-bottom: 3rem;
}

.hero {
  text-align: center;
  color: white;
  padding: 15rem 0;
  background-image: url(../images/hero-img.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.img-section {  
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;  
}

.centered {
  position: absolute;
  line-height: 1.2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr.line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.showcase {
  background: #f6f5f5;

  &_products {
    display: block;
    position: relative;
    transform: scale(0.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 1.2;

    &:hover,
    &:focus {
      transform: scale(1);

      .showcase_details {
        opacity: 1;
      }
    }
  }

  &_details {
    opacity: 0;
    transition: opacity 250ms linear;
    span {
      display: block;
      font-weight: 700;
      font-size: 2.5rem;
    }
  }
}

$breakpoint: 601px;
@media (min-width: $breakpoint) {
  div.centered {
    font-size: 50px;
  }
  h3 {
    font-size: 30px;
  } 
}

$breakpoint: 600px;
@media (max-width: $breakpoint) {
  div.centered {
    font-size: 20px;
  }
  h3 {
    font-size: 10px;
  } 
}
